# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master
  
variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  resourceGroupName: 'devops-web-app-rg'
  resourceGroupLoc: 'southeastasia'
  appServicePlanName: 'devops-web-app-plan'
  appServiceSku: 'F1'

stages:
  - stage: 'Build'
    displayName: 'Build the web app'
    jobs:
      - job:  'Build'
        displayName: 'Build job'
        pool:
          vmImage: 'windows-latest'
        steps:
        - task: DotNetCoreCLI@2
          displayName: 'Restore project dependencies'
          inputs:
            command: 'restore'
            projects: '**/*.csproj'
        - task: DotNetCoreCLI@2
          displayName: 'Build project - $(buildConfiguration)'
          inputs:
            command: 'build'
            arguments: '--no-restore --configuration $(buildConfiguration)'
            projects: '**/*.csproj'        
        - task: DotNetCoreCLI@2
          displayName: 'Publish project $(buildConfiguration)'
          inputs:
            command: 'publish'
            projects: '**/*.csproj'
            publishWebProjects: false
            arguments: '--no-build --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/$(buildConfiguration)'
            zipAfterPublish: true
            
        - publish: '$(Build.ArtifactStagingDirectory)'
          artifact: drop

  - stage: 'Dev'
    displayName: 'Deploy to the dev environment'
    dependsOn: Build
    condition:  succeeded()
    jobs:
      - deployment: Deploy
        pool:
          vmImage: 'windows-latest'
        environment: dev
        variables:
        - group: Release
        strategy:
          runOnce:
            deploy:
              steps:
              - download: current
                artifact: drop
              - task: AzureCLI@2
                inputs:
                  azureSubscription: 'azureserviceconn'
                  scriptType: 'bash'
                  scriptLocation: 'inlineScript'
                  inlineScript: |
                    # Check if Resource Group exists
                    echo "Checking if Resource Group exists..."
                    RG_EXISTS=$(az group exists --name "$resourceGroupName")
                    if [ "$RG_EXISTS" = "false" ]; then
                      echo "Resource Group does not exist. Creating Resource Group..."
                      az group create --name "$resourceGroupName" \
                                      --location "$resourceGroupLoc"
                    else
                      echo "Resource Group already exists."
                    fi
                    
                    az appservice plan create --name $(appServicePlanName) \
                                              --resource-group $(resourceGroupName) \
                                              --sku $(appServiceSku)
                    az webapp create --resource-group $(resourceGroupName) \
                                    --plan $(appServicePlanName) \
                                    --name devops-web-app \
                                    --runtime "DOTNETCORE|8.0"
              