# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master
  
variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
  - stage: 'Build'
    displayName: 'Build the web app'
    jobs:
      - job:  'Build'
        displayName: 'Build job'
        pool:
          vmImage: 'windows-latest'
        steps:
        - task: DotNetCoreCLI@2
          displayName: 'Restore project dependencies'
          inputs:
            command: 'restore'
            projects: '**/*.csproj'
        - task: DotNetCoreCLI@2
          displayName: 'Build project - $(buildConfiguration)'
          inputs:
            command: 'build'
            arguments: '--no-restore --configuration $(buildConfiguration)'
            projects: '**/*.csproj'        
        - task: DotNetCoreCLI@2
          displayName: 'Publish project $(buildConfiguration)'
          inputs:
            command: 'publish'
            projects: '**/*.csproj'
            publishWebProjects: false
            arguments: '--no-build --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/$(buildConfiguration)'
            zipAfterPublish: true
            
        - publish: '$(Build.ArtifactStagingDirectory)'
          artifact: drop

  - stage: 'Dev'
    displayName: 'Deploy to dev environment'
    dependsOn: Build
    condition:  succeeded()
    jobs:
      - deployment: Deploy
        pool:
          vmImage: 'windows-latest'
        environment: dev
        variables:
        - group: Release
        strategy:
          runOnce:
            deploy:
              steps:
              - download: current
                artifact: drop
                
              - task: AzureWebApp@1
                displayName: 'Azure App Service Deploy: dev website'
                inputs:
                  azureSubscription: 'azureserviceconn'
                  appType: 'webApp'
                  appName: '$(webAppNameDev)'
                  package: '$(Pipeline.Workspace)/drop/$(buildConfiguration)/*.zip'
                  resourceGroupName: '$(rgName)'


  - stage: 'Staging'
    displayName: 'Deploy to staging environment'
    dependsOn: Dev
    jobs:
    - deployment: Deploy
      pool:
        vmImage: 'windows-latest'
      environment: staging
      variables:
      - group: 'Release'
      strategy:
        runOnce:
          deploy:
            steps:
            - download: current
              artifact: drop
            - task: AzureWebApp@1
              displayName: 'Azure App Service Deploy: staging website'
              inputs:
                azureSubscription: 'azureserviceconn'
                appType: 'webApp'
                appName: '$(webAppNameStaging)'
                package: '$(Pipeline.Workspace)/drop/$(buildConfiguration)/*.zip'
                resourceGroupName: '$(rgName)'